<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0/EN"
"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<settings>
		<setting name="mapUnderscoreToCamelCase" value="true"/>
		<setting name="jdbcTypeForNull" value="NULL" />
	</settings>

	<typeAliases>
		<typeAlias alias="testTableDVO" type="com.myProject.main.domain.TestTableDVO"/>
		<typeAlias alias="hrUserDVO" type="com.myProject.login.domain.HrUserDVO"/>
		<typeAlias alias="hrUserPVO" type="com.myProject.login.domain.HrUserPVO"/>
		<typeAlias alias="hrUserRVO" type="com.myProject.login.domain.HrUserRVO"/>
	</typeAliases>
</configuration>